
params {
  samplesheet = ''
  outdir = 'results'
  dorado_model = ''
  dorado_device = 'gpu'

  jaffa_sif = '/home/users/astar/gis/zhangt/scratch/nanopore_rna_mod/nanopore_fusion_detection/containers/jaffa_2.5.sif' 
  // 'docker://davidsongroup/jaffa:2.4'
  bambu_sif = '/home/users/astar/gis/zhangt/scratch/nanopore_rna_mod/nanopore_fusion_detection/containers/bambu_v0.2.sif'
  
  jaffa_ref_dir = '/home/users/astar/gis/zhangt/scratch/reference/GRCh38/jaffa_hg38_gencode49/' 
  ref_genome = '/home/users/astar/gis/zhangt/scratch/reference/GRCh38/jaffa_hg38_gencode49/hg38.fa'
  gtf= '/home/users/astar/gis/zhangt/scratch/reference/GRCh38/jaffa_hg38_gencode49/gencode.v49.primary_assembly.annotation.gtf'
}

apptainer.enabled = true

process {
  // Default process configuration
  executor = 'slurm'
  clusterOptions = '-V --partition=cpu' 
  // clusterOptions = { ' -V --partition=testqueue --gres=gpu:1  -A aicloud-testgroup ' }  // Remove account specification or update with your actual account
  penv = 'OpenMP'
  // errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
  pollInterval = '30 sec'
  exitReadTimeout = "120 sec"
  withName: BASECALL_DORADO {
    cpus = 8
    memory = '32 GB'
    time = '8h'
  }

  withName: DORADO_ALIGNER {
    cpus = 8
    memory = '32 GB'
    time = '8h'
  }

  withName: RUN_JAFFAL {
    time = '8h'
    cpus = 8
    memory = '48 GB'
  }

  withName: FUSION_ANNOTATION {
    time = '8h'
    cpus = 4
    memory = '48 GB'
  
  }

}

// Reporting
report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/reports/nextflow_report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/reports/timeline.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/reports/trace.txt"
}
