
params {
  samplesheet = ''
  outdir = 'results'
  dorado_model = ''
  dorado_device = 'gpu'
  jaffa_sif = 'docker://davidsongroup/jaffa:latest'
  jaffa_ref_dir = "/home/users/astar/acrc/aicloudtestuser3/scratch/reference/GRCh38/jaffa_hg38/"
  align_ref = ''
}

process {
  // Default process configuration
  executor = 'slurm'
  clusterOptions = '-V --partition=cpu' 
  // clusterOptions = { ' -V --partition=testqueue --gres=gpu:1  -A aicloud-testgroup ' }  // Remove account specification or update with your actual account
  penv = 'OpenMP'
  // errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
  pollInterval = '30 sec'
  exitReadTimeout = "120 sec"
  withName: DORADO_BASECALL {
    cpus = 8
    memory = '32 GB'
    time = '8h'
    accelerator = 1
    // container = 'ontresearch/dorado:latest'
    containerOptions = '--gpus all --shm-size=8g'
    clusterOptions = '-V --partition=testqueue -A aicloud-testgroup --gres=gpu:1'  // Request 1 GPU explicitly
  }

  withName: DORADO_ALIGNER {
    cpus = 8
    memory = '32 GB'
    time = '8h'
    accelerator = 1
    containerOptions = '--gpus all --shm-size=8g'
    clusterOptions = '-V --partition=testqueue -A aicloud-testgroup --gres=gpu:1'
  }

  withName: RUN_JAFFAL {
    time = '8h'
    cpus = 8
    memory = '48 GB'
  }

  withName: FUSION_ANNOTATION {
    cpus = 1
  }
  withName: FUSION_REALIGN {
    cpus = 1
  }

}

// Reporting
report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/reports/nextflow_report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/reports/timeline.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/reports/trace.txt"
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}