
params {
  samplesheet = ''
  outdir = 'results'
  dorado_model = ''
  dorado_device = 'gpu'
  jaffa_sif = 'docker://davidsongroup/jaffa:latest'
  jaffa_ref_dir = "/home/users/astar/gis/zhangt/scratch/reference/GRCh38/jaffa_hg38/"
}

process {
  // Default process configuration
  executor = 'slurm'
  clusterOptions = '-V --partition=cpu' 
  // clusterOptions = { ' -V --partition=testqueue --gres=gpu:1  -A aicloud-testgroup ' }  // Remove account specification or update with your actual account
  penv = 'OpenMP'
  // errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
  pollInterval = '30 sec'
  exitReadTimeout = "120 sec"
  withName: DORADO_BASECALL {
    cpus = 8
    memory = '32 GB'
    time = '8h'
    accelerator = 1
    // container = 'ontresearch/dorado:latest'
    containerOptions = '--gpus all --shm-size=8g'
    clusterOptions = '-V --partition=testqueue -A aicloud-testgroup --gres=gpu:1'  // Request 1 GPU explicitly
  }

  withName: RUN_JAFFAL {
    time = '8h'
    cpus = 16
    memory = '64 GB'
  }

  withName: MAKE_REPORT {
    cpus = 1
  }
}

// Reporting
report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/reports/nextflow_report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/reports/timeline.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/reports/trace.txt"
}
